@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ASK Collage,<br />
    Germany,<br />
    212901929112<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:askcollages@gmail.com">askcollages@gmail.com</a><br />
</address>