@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ABC Collage,<br />
    Theni,<br />
    9876543222<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">abccollage@gmail.com</a><br />
</address>